.FoundersComponent {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(246, 250, 254, 1);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.FoundersComponent--header {
  padding-bottom: 2rem;
  font-size: 1.5em;
  font-weight: 800;
}

.FoundersComponent--container {
  display: flex;
  flex-direction: row;
}

.FoundersComponent--text {
  max-width: 60em;
  text-align: center;
  font-size: 1em;
  margin: 15px 0px;
}

.FoundersComponent--joinbutton {
  color: white;
  background-color: #f4c434;
  border-radius: 25px;
  font-size: 1.4em;
  padding: 7px 20px;
  margin: 30px 0px;
}

@media only screen and (max-width: 530px) {
  .FoundersComponent--container {
    flex-direction: column;
  }
}
