<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

<form class="" action="index.html" method="post">
  <fieldset>
    <legend>Student Signup</legend>

    <label for="firstName">First Name: </label>
    <input id="firstName "type="text" name="firstName" value="">
    <label for="lastName">Last Name: </label>
    <input id="lastName "type="text" name="lastName" value="">
    <label for="email">Email: </label>
    <input id="email "type="text" name="email" value="">
    <label for="phoneNumber">Phone Number: </label>
    <input id="phoneNumber "type="text" name="phoneNumber" value="">
    <label for="password">Password: </label>
    <input id="password "type="text" name="password" value="">

  </br>

  <label for="university">University: </label>
  <input id="university "type="text" name="university" value="">
  <label for="yearOfStudy">Year of Study: </label>
  <input id="yearOfStudy "type="text" name="yearOfStudy" value="">
  <label for="courseStudied">Course of Study: </label>
  <input id="courseStudied "type="text" name="courseStudied" value="">

  skills checkbox/dropdown

  <label for="aboutYou">About Yourself: </label>
  <input id="aboutYou "type="text" name="aboutYou" value="">
  <label for="LinkedinURL">LinkedinURL: </label>
  <input id="LinkedinURL "type="text" name="LinkedinURL" value="">

  <input type="submit" name="submit" value="submit">



  </fieldset>
</form>

</body>
</html>
