.ClientProfileCard {
  display: flex;
  justify-content: center;
}

.ClientProfileCard--container {
  border: 2px solid lightgrey;
  border-radius: 6px;
  background-color: rgba(200, 200, 200, 0.5);
  width: 10rem;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ClientProfileCard--image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 1rem;
}

.ClientProfileCard--editbutton__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ClientProfileCard--editbutton {
  color: white;
  background-color: orange;
}
