.ClientProfileCard {
  display: flex;
  justify-content: center;
}

.ClientProfileCard--container {
  border: 2px solid black;
  border-radius: 6px;
  background-color: lightgrey;
  width: 10rem;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ClientProfileCard--image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.ClientProfileCard--editbutton__container {
  width: 100%;
  display: flex;
}

.ClientProfileCard--editbutton {
  display: flex;
  justify-content: flex-end;
}
