.infoComponent {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.infoComponent--header {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.infoComponent--paragraph {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
