.FounderComponent {
 text-align: center;
 padding: 0rem 2rem 0rem 2rem;
 margin: 10px 20px;
}

.FounderComponent--portraitphoto {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.FounderComponent--socialicons__icons {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.FounderComponent--title {
  margin: 0px;
}

.FounderComponent--name {
  margin: 0px;
  padding: 0.5rem 0rem;
  font-size: 1.1em;
  font-weight: 800;
}

@media only screen and (max-width: 630px) {
  .FounderComponent {
    flex-direction: column;
  }
}
